{% extends "poll/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12 text-center">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <p>برای ادامه، لطفاً شماره دانشجویی و رمز عبور خود را برای تأیید اعتبار وارد کنید</p>
      
      <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">نام کاربری:</label>
          <input type="text" name="username" class="form-control-md" id="id_username" required>
        </div>
        <div class="form-group">
          <label for="id_password">رمز عبور:</label>
          <input type="password" name="password" class="form-control-md" id="id_password" required>
        </div>

        <input type="submit" class="btn btn-primary btn-md" value="ثبت رأی">
      </form>
    </div>
  </div>
    </div>
    

{% endblock %}
